<!DOCTYPE html>
<head>
    <title>Add a question</title>
</head>
<body>
    {% from "macros.html" import show_flashed_messages %}
    <h2>Enter the question details:</h2>
    {{ show_flashed_messages() }}

    <form action="{{ url_for('add_question') }}" method="POST">
        {{ form.hidden_tag() }}
        All fields in the form are required.<br>
        You are allowed to use the following tags to format your question or answers:
        <ul>
            {% for tag in allowed_tags %}
            <li>&lt;{{ tag }}&gt;</li>
            {% endfor %}
        </ul>
        You can also use the style attribute in a tag to set color.
        <p>
            {{ form.question.label }}:<br>
            {{ form.question(rows=10, cols=80) }}
            <p>
            {{ form.option_a.label }}: {{ form.option_a(size=80) }}

            <p>
            {{ form.option_b.label }}: {{ form.option_b(size=80) }}

            <p>
            {{ form.option_c.label }}: {{ form.option_c(size=80) }}

            <p>
            {{ form.option_d.label }}: {{ form.option_d(size=80) }}

            <p>
            {{ form.answer.label }}:<br>
            <blockquote>
            {% for subfield in form.answer %}
                {{ subfield(required=True) }}
                {{ subfield.label }}<br>
            {% endfor %}
            </blockquote>

        <p>{{ form.submit() }}
    </form>
</body>
</html>
