<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Create Post</title>
</head>
<body>
    {% include 'navigation.html' %}
    <hr>

    {% from "macros.html" import show_flashed_messages %}
    {{ show_flashed_messages() }}
    <form method="POST">
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }}:<br>
            {{ form.title(size=100, required=False) }}
        <p>
            {{ form.text.label }}:<br>
            {{ form.text(rows=10, cols=80, required=False, id="markdown-edit")}}

        <p>{{ form.publish() }}<br>
        {{ form.save() }}
    </form>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <script>
    new SimpleMDE({
        element: document.getElementById("markdown-edit"),
        spellChecker: false,
    });
    </script>
</body>
</html>
