<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Create Post</title>
</head>
<body>
    {% from "macros.html" import show_flashed_messages %}
    {{ show_flashed_messages() }}
    <form action="{{ url_for('create_post') }}" method="POST">
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }}:<br>
            {{ form.title(size=100) }}
        <p>
            {{ form.text.label }}:<br>
            {{ form.text(rows=10, cols=80) }}

        <p>{{ form.publish() }}<br>
        {{ form.save() }}

    </form>
</body>
</html>