<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Login | Writer</title>
</head>
<body>
    {% include 'navigation.html' %}

    <section style="padding: 25px 50px 25px 50px;">

    {% from "macros.html" import show_flashed_messages, show_field_errors %}
    {{ show_flashed_messages() }}

    <form method="POST">
        {{ form.hidden_tag() }}
        <p>
            {{ form.email.label }}:<br>
            {{ form.email(size=75) }}<br>
            {{ show_field_errors(form.email) }}
        <p>
            {{ form.password.label }}:<br>
            {{ form.password(size=75) }}<br>
            {{ show_field_errors(form.password) }}

        <p>{{ form.login() }}
    </form>

    <a href="{{ url_for('register') }}">Not registered?</a><br>
    <a href="{{ url_for('password_reset_email') }}">Forgot password?</a>
    </section>
</body>
</html>