<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Reset Password | Writer</title>
</head>
<body>
    {% include 'navigation.html' %}
    <section style="padding: 25px 50px 25px 50px;">
    {% from "macros.html" import show_flashed_messages, show_field_errors %}
    {{ show_flashed_messages() }}
    <form method="POST">
        {{ form.hidden_tag() }}
        <p>
            {{ form.email.label }}:<br>
            {{ form.email(size=75) }}<br>
            {{ show_field_errors(form.email) }}

        <p>{{ form.send_reset_email() }}
    </form>
    </section>
</body>
</html>