<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Password | Writer</title>
</head>
<body>
    {% include 'navigation.html' %}
    <section style="padding: 25px 50px 25px 50px;">

    {% from "macros.html" import show_flashed_messages, show_field_errors %}
    {{ show_flashed_messages() }}
    <form method="POST">
        {{ form.hidden_tag() }}
        <p>
            {{ form.password.label }}:<br>
            {{ form.password(size=75) }}<br>
            {{ show_field_errors(form.password) }}
        <p>
            {{ form.repeat_password.label }}:<br>
            {{ form.repeat_password(size=75) }}<br>
            {{ show_field_errors(form.repeat_password) }}

        <p>{{ form.reset() }}
    </form>
    </section>
</body>
</html>