<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
        <script>
            $(document).ready(function(){
                $('.slider').bxSlider({
                    mode: 'fade',
                    captions: true,
                    responsive: true,
                    useCss: true,
                    touchEnabled: true,
                    controls: true,
                    keyboardEnabled: true,
                    slideWidth: 800,
                });
            });
        </script>
    </head>
    <body>
        <div class="slider">
            {% for image in slideshow %}
            <div><img src="{{ image.url }}" title="{{ image.caption }}" /></div>
            {% endfor %}
        </div>
    </body>
</html>